fastapi
uvicorn
pymongo
certifi
python-dotenv
pydantic
email-validator
passlib[bcrypt]
python-jose[cryptography]
PyJWT
httpx
pypdf
python-docx
python-multipart
requests
itsdangerous
scikit-learn
numpy
